@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
    background-color: #e9eaed;
}

.friends-list__friend{
    border: 1px solid #e9eaed;
    margin: 0 0 13px 13px;
}

.friends-list__fullname{
    display: inline-block;
}

.friends-list__avatar{
    display: inline-block;
    max-width: 100px;
}

.statusses-list__status{
    background-color: #FFFFFF;
    margin: 0 0 13px 13px;
    padding: 12px 12px;
}
